#main {
  background-color: #fff;
}

.work li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.work img {
    opacity: 0;
    -webkit-transform: translateX(250px);
    -webkit-animation: work-slide 1s ease-out 1 forwards;
}

@-webkit-keyframes work-slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

.js-work-animate {

}

.js-work-delay {
  -webkit-animation-delay: 100ms;
}

#features {
    background-color: #333;
    margin: 0;
    padding: 0;
}

.portfolio img {
  opacity: 0;
}

.js-portfolio-animate {
  -webkit-animation: portfolio-fade 1s linear 1 forwards;
}

@-webkit-keyframes portfolio-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.js-portfolio-delay-1 {
  -webkit-animation-delay: 100ms;
}
.js-portfolio-delay-2 {
  -webkit-animation-delay: 200ms;
}
.js-portfolio-delay-3 {
  -webkit-animation-delay: 300ms;
}
.js-portfolio-delay-4 {
  -webkit-animation-delay: 100ms;
}
.js-portfolio-delay-5 {
  -webkit-animation-delay: 200ms;
}
.js-portfolio-delay-6 {
  -webkit-animation-delay: 300ms;
}

/*
.js-portfolio-delay-3,
.js-portfolio-delay-5 {
  -webkit-animation-delay: 300ms;
}

.js-portfolio-delay-2,
.js-portfolio-delay-4,
.js-portfolio-delay-6 {
  -webkit-animation-delay: 150ms;
}
*/
