dialog::backdrop {
  background-color: rgba(255,255,0,0.5);
}

dialog + .backdrop {
  background-color: rgba(255,0,0,0.5);
}

#btn-open-1, #btn-open-2 {
  border: none;
  background-color: transparent;
}

#btn-close-1, #btn-close-2 {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #000;
  color: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  font-weight: bold;
  line-height: 0.6;
  font-size: 1rem;
  position: absolute;
  top: -16px;
  right: -16px;
  cursor: pointer;
}

button {
  background-color: #fff;
  overflow: hidden;
  float: left;
}
