<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stephbydesign</title>

  <!--Mobile Optimization-->
  <meta name="handhelfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!--CSS-->
  <link href="{{site.baseurl}}/css/app-site.css" rel="stylesheet">

  <!--FONT-->
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

  <!--SCRIPT-->
  <script src="{{site.baseurl}}/js/modernizr.js"></script>


</head>
  <body>

  <!-- SKIPLINKS -->
  <ul class="skiplinks">
    <li><a href="#main">Skip to main content</a></li>
    <li><a href="#sidebar">Skip to secondary content</a></li>
    <li><a href="#primenav">Skip to primary navigation</a></li>
  </ul>

  <!-- NAVIGATION -->
  <header role="banner" id="top" class="masthead">

    <div class="masthead-top">
      <a href="{{site.baseurl}}/index.html"><img class="logo" src="img/logo.png"/></a>
      <!--<a href="#nav" class="nav-btn" data-state="inactive">Navigate</a>-->
      <h1>Stephanie Albert</h1>
    </div>

  </header>

  {{content}}

  <footer role="contentinfo">
    <p>©STEPHBYDESIGN 2014.</p>
  </footer>

  <!-- SCRIPTS -->
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/testimonials.json"></script>
  <script src="{{site.baseurl}}/js/app-site.js"></script>
  </body>
</html>
