<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tasker</title>

  <!--Mobile Optimization-->
  <meta name="handhelfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!--CSS-->
  <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">

  <!--FONT-->
  <link href='http://fonts.googleapis.com/css?family=Alef:400,700' rel='stylesheet' type='text/css'>

  <!--SCRIPT-->
  <script src="{{site.baseurl}}/js/modernizr.js"></script>

</head>
  <body>

  <!-- SKIPLINKS -->
  <ul class="skiplinks">
    <li><a href="#main">Skip to main content</a></li>
    <li><a href="#sidebar">Skip to secondary content</a></li>
    <li><a href="#primenav">Skip to primary navigation</a></li>
  </ul>

  <!-- NAVIGATION -->
  <header role="banner" id="top">

    <nav role="navigation" id="primenav">

    </nav>
  </header>

  {{content}}

  <footer role="contentinfo">

  </footer>

  <!-- SCRIPTS -->
  <script src="{{site.baseurl}}/js/app-site.js"></script>
  </body>
</html>
